<div class="header_bg">
    <div class="wrap">
        <div class="header">
            <!--------start-logo------>
            <div class="logo">
                <a href="/"><img src="images/logo2.png" width="40%" alt="logo"></a>
            </div>	
            <!--------end-logo--------->
            <!----start-nav-------->	
            <div class="nav">
                <ul>
                    <li class="active"><a href="#portfolio" class="scroll">خانه</a></li>
                    <li><a href="/collegeprof" class="scroll">استادشناسی</a></li>
                    <li><a href="/collegebook" class="scroll">جزوه ها</a></li>
                    <li><a href="/" class="scroll">چت روم</a></li>
                    <div class="clear"> </div>
                    </ul>
            </div>
            <!-----end-nav-------->
            <div class="clear"> </div>
        </div>
    </div>
</div>