<div class="row" style="margin-top: 0.7rem;"></div>
<div class="footer-bottom">
    <a href=@Href id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 0;"></span>
        <span id="toTopHover" style="opacity: 1;"> </span>
	</a>
</div>

@code{
    [Parameter]
    public string Href{get; set;}
}