@page "/"
<div class="slider_bg" >
    <div class="wrap">
        <!---start-da-slider----->
        <div class="da-slide">
            <h2>جزوه دان</h2>
            <p>بهترین استاد هر درس را از روی نظرات دانشجوهای ترم های گذشته شناسایی کنید . جزوه هر استاد را در درس مورد نظرتان دریافت کنید!</p>
            <div class="portfolio logo mix_all" data-cat="logo" style="display: inline-block;  opacity: 1;">
                <div class="portfolio-wrapper">				
                    <ul class="ch-grid">
                        <li>
                        <div class="ch-item" style="background: url(/images/icon1.jpg) no-repeat;">
                            <div class="ch-info">
                            <a class="popup-with-zoom-anim" href="/collegeprof">
                                <h3>اساتید</h3>
                            </a>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="ch-item" style="background: url(/images/icon2.jpg) no-repeat;">
                            <div class="ch-info">
                            <a class="popup-with-zoom-anim" href="/collegebook">
                                <h3>جزوه ها</h3>
                            </a>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="ch-item" style="background: url(/images/icon3.png) no-repeat;">
                            <div class="ch-info">
                            <a class="popup-with-zoom-anim" href="/">
                                <h3>چت روم</h3>
                            </a>
                            </div>
                        </div>
                        </li>
                    </ul>       
                </div>
            </div>
        </div>
        <!---//End-da-slider----->
    </div>
</div>
<FooterComponent Href="#"/>
